@model List<Merchant>
<div class="container-fluid">
    <table class="table" style="text-align:center">
        <thead>
            <tr>
              
                <th scope="col">Name</th>
                <th scope="col">TerminalNo</th>
                <th scope="col">CountOfBranch</th>
                <th scope="col">Active</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AppUser.Name @item.AppUser.Surname</td>
                    <td>@item.TerminalNo</td>
                    <td>@item.Branches.Count</td>
                    <td>
                        <a onclick="if(!confirm('Are you Sure?')){return false;}" asp-action="doactive" asp-controller="account" asp-route-id="@item.Id">
                            @if (!item.AppUser.IsActive)
                            {
                                <button class="btn btn-danger">DeActive</button>
                            }
                            else
                            {
                                <button class="btn btn-success">Active</button>
                            }
                        </a>
                    </td>
                
 
                    <td>
                        <a asp-action="update" asp-controller="merchant" asp-route-id="@item.Id">
                            <i style="color:orange;font-size:18px;" class="fas fa-wrench"></i>
                        </a>

                    </td>
                    <td>
                        <a onclick="if(!confirm('Are you Sure?')){return false;}" asp-action="delete" asp-controller="merchant" asp-route-id="@item.Id">
                            <i style="color:red;font-size:18px;" class="fas fa-trash"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Add" asp-controller="merchant" class="btn btn-primary w-100">Add Merchant</a>
</div>